@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ff0077;
}

body {
    position: relative;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px; 
    z-index: 20;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.5;
}

header.active {
    width: 10%;
}

.logo {
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    color: #000;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

header.active .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav {
    display: flex;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease-in-out;
    transform-origin: left;
}

header.active .nav {
    opacity: 0;
    visibility: hidden;
}

.nav li {
    list-style: none;
    margin: 0 20px;
}

.nav li a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    font-weight: 300;
    padding: 10px;
}

.nav li:hover a,
.nav-mobile li:hover a  {
    color: var(--primary);
}

.nav-mobile {
    position: absolute;
    left: 50%;
    top: 250%;
    transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
    transform-origin: top;
    visibility: hidden;
    opacity: 0;
}

.nav-mobile.active {
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
}

.nav-mobile li {
    list-style: none;
    transform: rotateZ(90deg);
    margin-top: 120px;
    width: 200px;
}

.nav-mobile li a {
    text-decoration: none;
    display: inline;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    font-weight: 300;
}

.menu {
    display: none;
    font-size: 2em;
    transition: all 1s ease-in-out;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
}

.menu ion-icon {
    transform: rotateZ(0);
    color: #000;
}

header.active .menu {
    display: block;
    transform: translateX(-50%) rotateZ(0);
    transition: all 0.5s ease-in-out;
}

.menu.active {
    transform: translateX(-50%) rotateZ(45deg) !important;
}





